@mixin flex($direction: row, $justify:center, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-repeat($nb-rows:1, $nb-fr-rows:1fr, $nb-colums:1, $nb-fr-colums:1fr, $direction:center, $justify:center){
    display: grid;
    grid-template-rows: repeat($nb-rows,$nb-fr-rows);
    grid-template-columns: repeat($nb-colums,$nb-fr-colums);
    justify-content: $justify;   
    align-items: $direction; 
}

@mixin btn($padding-vert:16px, $padding-hori:16px, $border:30px){
    padding: $padding-vert $padding-hori;
    border-radius: $border;
    border: transparent;
}

@mixin shadow-effect-black($duration:0.2s, $offset-x:10px, $offset-y:10px, $blur-radius:10px,$opacity:0.25, $multiplicateur){
    box-shadow: $offset-x $offset-y $blur-radius rgba(0, 0, 0, $opacity);
    transition-duration: $duration;
        &:hover{
            box-shadow: $offset-x * $multiplicateur $offset-y * $multiplicateur $blur-radius rgba(0, 0, 0, $opacity * $multiplicateur);
        }        
}

@mixin bg-icone-fa(){
    & .fa-regular{
        &:before{
        font-weight: 400;
        color: black;
        transition: all 400ms cubic-bezier(0,1.45,.79,.91);
        }
    font-weight: 900;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text; 
    color: transparent;
        &:hover{
            font-weight: 900;
            background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            background-clip: text; 
            color: transparent;
            &:before{
                font-weight: 900;
                color: transparent;
                transition: all 400ms cubic-bezier(0,1.45,.79,.91);}
            }
        }
}