@mixin flex($direction: row, $justify:center, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-repeat($nb-rows:1, $nb-fr-rows:1fr, $nb-colums:1, $nb-fr-colums:1fr, $direction:center, $justify:center){
    display: grid;
    grid-template-rows: repeat($nb-rows,$nb-fr-rows);
    grid-template-columns: repeat($nb-colums,$nb-fr-colums);
    justify-content: $justify;   
    align-items: $direction; 
}

@mixin btn($padding-vert:16px, $padding-hori:16px, $border:30px){
    padding: $padding-vert $padding-hori;
    border-radius: $border;
    border: transparent;
}