//Variables

//Color

$colour-primary: hsla(267, 66%, 60%, 1);
$colour-secondary:hsla(207, 100%, 20%, 1);
$colour-tertiary: hsla(207, 92%, 76%, 1);
$colour-fourth: hsla(165, 100%, 26%, 1);
$colour-fifth: hsla(165, 56%, 74%, 1);
$colour-background:hsla(0, 0%, 97%, 1);
$colour-gradient:hsla(317, 100%, 74%, 1);
$colour-white: hsl(0,0%,100%);
$colour-black: hsl(0,0%,0%);
$colour-grey-1: hsla(0, 0%, 92%, 1);
$colour-grey-2: hsla(0, 0%, 82%, 1);

//Container's maximum width
$max-width: 1440px;

//Breakpoints map
$breakpoints: (
  'mobile': 767.98px,
  'tablette': 1023.98px,
);

// Font
$font: 'Roboto', sans-serif, 'Shrikhand', curisve;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 16px;
$font-size-other: 15px;
$font-weight-blod: 700;
$font-weight-normal: 500;
$font-weight-other: 300;

//padding
$padding-page-border: 0%