.nav-section{
    @include flex(column,center,center);
    width: 100%;
        &__nav-localisation {
        @include flex(row,center,center);
        width: 100%;
        background-color: $color-bg-2;
        padding: 16px 0;
        column-gap: 3%;
    }
        &__nav-description {
        @include flex(column,center,center);
        width: 100%;
        padding: 24px;
        background-color: $color-bg-1;
        text-align: center;
    }
}

.nav-description{
        &__title {
        padding: 0 24px;
    }
        &__subtitle {
        margin: 16px 0;
    }
}