.btn-base{
    @include btn(16px,24px,25px);
    @include shadow-effect-black(200ms,0px,4px,10px,0.25,2);
    @include bg-effect-transparency($bg-color-effect,$bg-color-effect-lighten);
    font-size: $font-size-small;
    font-weight: 500;
    color: $color-white;
}