.card-functioning{
    @include btn(24px,32px,20px);
    @include flex(row,start,center);
    width: 100%;
    margin: 24px 0;
    background: $color-bg-2;
        &__order{
            position: relative;
            right: 42px;
            padding: 4px 7px;
            border-radius: 50%;
                &--purple{
                    background-color: $color-primary;
                    color: $color-white;
                    font-weight: $font-weight-normal;
                }
            }
        &__icone{
            margin-right: 24px;
                &--purple{
                color: $color-primary;
                }
            }
        &__text{
            width: 100%;
            }
        &--purple{
            background-color: hsla(267, 100%, 96%, 1);        
        } 
    } 

    .card-restaurant__img{
        height:20px;
    }