h1, h2{
    font-size: $font-size-large;
    font-weight: $font-weight-blod;
}

h3{
    font-size: $font-size-medium;
    font-weight: $font-weight-blod;
}

p{
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
}

ul{
    list-style-type: none;
}