h1, h2{
    font-size: $font-size-large;
    font-weight: $font-weight;
}

h2{
    font-size: $font-size-medium;
    font-weight: $font-weight;
}

h3{
    font-size: $font-size-small;
    font-weight: $font-weight;
}

ul{
    list-style-type: none;
}