/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

.push-to-right {
  margin-right: auto;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0 8px 0;
}
.header-section img {
  height: 44px;
  width: 162px;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-section__nav-localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 92%);
  padding: 16px 0;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.nav-section__nav-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 56px 24px;
  background-color: hsl(0, 0%, 97%);
  text-align: center;
}

.nav-localisation__city {
  font-weight: 500;
}

.nav-description__title {
  padding: 0 24px;
}
.nav-description__subtitle {
  margin: 16px 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: hsl(0, 0%, 0%);
  padding: 24px;
}
.footer-section i {
  width: 16px;
}
.footer-section__footer-title {
  font-size: 18px;
  font-style: italic;
  font-family: "Shrikhand", curisve;
  font-weight: 400;
}
.footer-section__footer-links {
  padding-top: 24px;
}
.footer-section__footer-link {
  padding: 8px 0;
}
.footer-section--text {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
  margin-right: 8px;
}
.footer-section--text-blod {
  font-weight: 500;
}

.btn-base {
  padding: 16px 24px;
  border-radius: 25px;
  border: transparent;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 200ms;
}
.btn-base:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.btn-base--color-charter {
  background: linear-gradient(200.64deg, hsl(267, 66%, 60%) -5.2%, hsl(317, 100%, 74%));
  color: hsl(0, 0%, 100%);
}
.btn-base:hover {
  background: linear-gradient(200.64deg, #a06be1 -5.2%, #ff94e1);
}

.gg-heart,
.gg-heart::after {
  border: 2px solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0;
}

.gg-heart {
  box-sizing: border-box;
  position: relative;
  transform: translate(calc(-5px * var(--ggs, 1)), calc(-3px * var(--ggs, 1))) rotate(-45deg) scale(var(--ggs, 1));
  display: block;
}

.gg-heart::after,
.gg-heart::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  background-color: red;
}

.gg-heart::after {
  right: -9px;
  transform: rotate(90deg);
  top: 5px;
}

.gg-heart::before {
  width: 11px;
  height: 11px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  left: -2px;
  top: 3px;
}

.card-functioning {
  padding: 24px 32px;
  border-radius: 20px;
  border: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition-duration: 0ms;
  width: 100%;
  margin-bottom: 24px;
  background: hsl(0, 0%, 97%);
}
.card-functioning:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.card-functioning__order {
  position: relative;
  right: 42px;
  padding: 4px 7px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
}
.card-functioning__order--color-charter {
  background-color: hsl(267, 66%, 60%);
  color: hsl(0, 0%, 100%);
}
.card-functioning__icone {
  margin-right: 24px;
  font-size: 16px;
}
.card-functioning__icone--color-charter {
  color: hsl(267, 66%, 60%);
}
.card-functioning__text {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.card-functioning--color-charter {
  background-color: hsl(267, 100%, 96%);
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0ms;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}
.card-restaurant:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.card-restaurant img {
  width: 100%;
  height: 168px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-restaurant__text {
  padding: 8px 16px;
  width: 100%;
}
.card-restaurant__new {
  position: absolute;
  right: 5%;
  top: 16px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  color: hsl(165, 100%, 26%);
  background-color: hsl(165, 56%, 74%);
}
.card-restaurant__title {
  margin: 8px 0;
}
.card-restaurant__subtitle {
  margin: 8px 0;
  font-size: 17px;
}
.card-restaurant__icone {
  position: absolute;
  right: 5%;
  bottom: 32px;
  font-size: 21px;
}
.card-restaurant .fa-regular {
  font-weight: 900;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.card-restaurant .fa-regular:before {
  font-weight: 400;
  color: black;
  transition: all 400ms cubic-bezier(0, 1.45, 0.79, 0.91);
}
.card-restaurant .fa-regular:hover {
  font-weight: 900;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.card-restaurant .fa-regular:hover:before {
  font-weight: 900;
  color: transparent;
  transition: all 400ms cubic-bezier(0, 1.45, 0.79, 0.91);
}

.functioning-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  width: 100%;
}
.functioning-section__functioning-title {
  width: 100%;
  margin-bottom: 24px;
}
.functioning-section__functioning-step {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 16px;
  width: 100%;
  background-color: hsl(0, 0%, 97%);
}
.restaurant-section__restaurant-title {
  width: 100%;
  margin-bottom: 24px;
}
.restaurant-section__restaurant-cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */